html {
    background-color: #000;
    cursor: pointer;
    color: #fff;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  background-color:gray;
}

.famousRedText{
	color: #fa5c4f;
}

.famousRedBackground{
	background-color: #fa5c4f;
}

.famousBlueText{
	color: #3cf;
}

.famousBlueBackground{
	background-color: #3cf;
}

.jw-image {
  width:60px;
  height: auto;
  box-shadow: 1px 1px 5px gray;
}


.jw-item {
  width:100%;
  padding: 2px;
  vertical-align: top;
  border: 0.1em solid lightgray;
  background-color:white;
}
